<style>
.demo .{
    width:100%;
    height:30%;
}
.demo{
    border: 13px solid #f5f7f6;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5555; 
}
  div.scrolla{
       display: inline-block;
    vertical-align: middle;
  }
  #btnleft #btnright .scroll_p {
    margin: 10px;
    padding: 5px;
    width: 100%;
    height: 30%;
  }
#disbtnright {
    position: absolute;
  right: 6px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width:30px;
  height:10%;
 
}
#disbtnleft {
  position: absolute;
  left: 52px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width:30px;
  height:10%;
 
}
#newbtnleft {
position: absolute;
  left:52px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width:30px;
  height:10%;
 
}
#newbtnright {
  position: absolute;
  right: 6px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width:30px;
  height:10%;
 
}
 .scrollbtn:hover{
background-color: white;
}
  </style>
<div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4 col-col-sm-offset-3">
            <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg }}
            </div>
        </div>
</div>
{{!-- <div class="container-fluid grid-paddingspace" width="100%" height="100%"> --}}
    <div id="mycarousel" class="carousel slide carousel_imgslide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#mycarousel" data-slide-top="0" class="active"><a href="#mycarousel"></a></li>
            <li data-target="#mycarousel" data-slide-top="1"><a href="#mycarousel"></a></li>
            <li data-target="#mycarousel" data-slide-top="2" ><a href="#mycarousel"></a></li>
        </ol>
        <div class="carousel-inner" width="100%" height="100%">

            <div class="item item_img active" width="100%" height="100%">
            <img src="http://www.kinyu-z.net/data/wallpapers/35/823942.jpg" width="100%" height="100%">
            <div class="carousel-caption">
                <h1>
                    slide1
                </h1>
            </div>
            </div>
            
            <div class="item item_img">
            <img src="https://mojly.com/wp-content/uploads/2017/12/love-image-lovely-images-photo-gallery-629721354.jpg">
             <div class="carousel-caption">
                <h1>
                    slide2
                </h1>
            </div>
            </div>
            
            <div class="item item_img">
            <img src="http://www.kinyu-z.net/data/wallpapers/35/823942.jpg">
             <div class="carousel-caption">
                <h1>
                    slide3
                </h1>
            </div>
            </div>
        </div>
        <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
    </div> 
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4 col-col-sm-offset-3">
            <hr>
        </div>
</div>
{{!-- </div> --}}

  <h2> <strong> Discounts Products </strong></h2>
  
   <div class="demo disproduct">
        <p class="scroll_p dispscroll">
         <button id="disbtnleft"><span class="fa fa-arrow-left"></span>
</button>
{{#each new_products}}

        {{#each this}}
           {{#if this.imagePath}}
        <a class="scrolla disascroll"href="/productview/{{ this._id }}">
                    <img src="{{this.imagePath}}" onclick="/productview/{{ this._id }}"alt="..." height="20%"width="250px">
      </a>
      {{/if}}
        {{/each}}
{{/each}}
 <button id="disbtnright" class="scrollbtn"><span class="fa fa-arrow-right"></span>
</button>
</p>
</div> 

<br>

    <h2> <strong> New Products </strong></h2>
 
    <div class="demo newproduct">
   
        <p class="scroll_p newpscroll">
         <button id="newbtnleft"><span class="fa fa-arrow-left"></span>
</button>
{{#each new_products}}

        {{#each this}}
           {{#if this.imagePath}}
        <a class="scrolla newascroll"href="/productview/{{ this._id }}">
                    <img src="{{this.imagePath}}" onclick="/productview/{{ this._id }}"alt="..." height="20%"width="250px">
      </a>
      {{/if}}
        {{/each}}
{{/each}}
<button id="newbtnright" class="scrollbtn"><span class="fa fa-arrow-right"></span>
</p>

</button>
</a>
</div> 

<script>
 $(document).ready(function(){ setInterval(function(){
    var x = $(".disascroll").offset();
    $("#disbtnright").animate({top:x.top});
    $("#disbtnleft").animate({top:x.top});

    x = $(".newascroll").offset();
     $("#newbtnright").animate({top:x.top});
    $("#newbtnleft").animate({top:x.top});
},1000);
});
$('#disbtnleft').click(function () {
    var leftPos = $('div.disproduct').scrollLeft();
    console.log(leftPos);
    $("div.disproduct").animate({
        scrollLeft: leftPos - 500
    }, 800);
});

$('#disbtnright').click(function () {
    var leftPos = $('div.disproduct').scrollLeft();
    console.log(leftPos);
    $("div.disproduct").animate({
        scrollLeft: leftPos + 500
    }, 800);
});
$('#newbtnleft').click(function () {
    var leftPos = $('div.newproduct').scrollLeft();
    console.log(leftPos);
    $("div.newproduct").animate({
        scrollLeft: leftPos - 500
    }, 800);
});

$('#newbtnright').click(function () {
    var leftPos = $('div.newproduct').scrollLeft();
    console.log(leftPos);
    $("div.newproduct").animate({
        scrollLeft: leftPos + 500
    }, 800);
});
 </script>
 {{!-- 
{{# each products}}
    <div class="row">
        {{# each this}}
            <div class="col-sm-2 col-md-4">
                <div class="thumbnail">
                    <a href="/productview/{{ this._id }}">
                    <img src="{{this.imagePath}}" onclick="/productview/{{ this._id }}"alt="..." class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p class="description">{{this.description}}</p> 
                        <div class="clearfix">
                            <div class="price pull-left">{{this.price}}</div>
                            <a href="/add-to-cart/{{ this._id }}" class="btn btn-success pull-right" role="button"><span class="fa fa-cart-plus" style="font: size:40px"></span> ADD to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
</div>
{{/each}} --}}
