    <style>
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
  }

  .tile {
    position: relative;
    float: left;
    width: 33.333%;
    height: 50%;
    overflow: hidden;
  }
    .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
  }

  .txt {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 10%;
    left: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    cursor: default;
  }

  .x {
    font-size: 32px;
    line-height: 32px;
  }

</style>

        <div class="card">
			<div class="container-fluid">
                {{# if products }}
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
                            {{#each products}}
                            {{#if this.imagePath}}
                            						  <div class="tiles active"  id="{{this._id}}">
                                            <div id="{{this._id}}"  data-scale="3.6" data-image="{{this.imagePath}}" class="tile" /></div>
                            {{/if}}
                            {{/each}}
                            {{#each images }}
                            		 <div class="tiles" id="{{this._id}}">
                                   <div id="{{this._id}}" data-scale="3.6" class="tile" data-image="{{this.imagePath}}"/></div>
						                {{/each }}
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
                            {{#each images }}
						  <li><a data-target="#{{this._id}}" data-toggle="tab"><img src="{{this.imagePath}}"/></a></li>
						{{/each }}
                        </ul>

					</div>
        
        	<div class="details detail col-md-6">
						<h3 class="product-title">men's shoes fashion</h3>
                        {{#each products}}
                            {{#if this.imagePath}}
						<p class="product-description">{{this.description}}</p>
						<h4 class="price">current price: <span>${{this.price}}</span></h4>
						<div class="action">
            <a href="/add-to-cart/{{ this._id }}" class="btn btn-success pull-right" role="button"><span class="fa fa-cart-plus" style="font: size:40px"></span> ADD to Cart</a>
							<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
						</div>
                        {{/if}}
                        {{/each}}
					</div>
				</div>
                {{/if}}
			</div>
		</div>
    {{!--   <script type="text/javascript" src="../../javascripts/Drift.min.js"></script> --}}
				<script>
  $('.tile')
    .on('mouseover', function(){
      $(this).children('.photo').css({'transform': 'scale('+ $(this).attr('data-scale') +')'});
    })
    .on('mouseout', function(){
      $(this).children('.photo').css({'transform': 'scale(1)'});
    })
    .on('mousemove', function(e){
      $(this).children('.photo').css({'transform-origin': ((e.pageX - $(this).offset().left) / $(this).width()) * 100 + '% ' + ((e.pageY - $(this).offset().top) / $(this).height()) * 100 +'%'});
    })
    // tiles set up
    .each(function(){
      $(this)
        // add a photo container
        .append('<div class="photo"></div>')
        // some text just to show zoom level on current item in this example
        .append('<div class="txt"><div class="x">'+ $(this).attr('data-scale') +'x</div>ZOOM ON<br>HOVER</div>')
        // set up a background image for each tile based on data-image attribute
        .children('.photo').css({'background-image': 'url('+ $(this).attr('data-image') +')'});
    })
	</script>
