{{#if products }}
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <ul class="list-group">
            {{#each products }}
            <li class="list-group-item">
                <span class="badge">{{ this.qty }}</span>
                <strong>{{ this.item.title }}</strong>
                <span class="label label-success">$ {{ this.price }}</span>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="dropdown">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/reduce/{{this.item._id}}">Reduce by 1</a></li>
                        <li><a href="/removeall/{{this.item._id}}">Remove All</a></li>
                    </ul>
                </div>
            </li>
    {{/each}}
    </ul>
</div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <strong>Total: {{ totalPrices }}</strong>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <a href="/checkout" class="btn btn-success" type="button">Checkout</a>
    </div>
</div>
{{ else }}
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <h1>No Items in Cart</h1>
    </div>
</div>
{{/if}}
{{!-- {{# if products }}
<div class="container">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>

                        {{# each products }}
						<tr>
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="{{ this.item.imagePath }}" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">{{ this.item.title}}</h4>
										<p>{{ this.item.description }}</p>
									</div>
								</div>
							</td>
							<td data-th="Price">{{ this.item.price }}</td>
							<td data-th="Quantity">
								<input type="number" class="form-control text-center" value="{{ this.qty }}" onchange="">
							</td>
							<td data-th="Subtotal" class="text-center">{{ this.price}}</td>
							<td class="actions" data-th="">
								<button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
								<button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>								
							</td>
						</tr>
                        {{/each}}
					</tbody>
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong>Total {{totalPrices}}</strong></td>
						</tr>
						<tr>
							<td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total ${{totalPrices}}</strong></td>
							<td><a href="/checkout" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
						</tr>
					</tfoot>
				</table>

</div>
{{ else }}
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <h1>No Items in Cart</h1>
    </div>
</div>
{{/if}} --}}